{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz-technique2.js') }}"></script>

<script>
        let data = {{ data | tojson }};  
         quiz = data
         
</script>
<div class="welcome">
    <h3>Technique 2: Stop talking to yourself while reading </h3>
</div>
<br>
<div class="container">
    <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title"> <p id="current_speed"> current speed is {{ data["speed"] / 100 }} seconds per word </p></h5>
          <div id="quiz2_text">
            <span class="keyword">1</span>
        </div>
        </div>
        <div class="card-footer text-muted">
            <button id="quiz2_done"  class="btn btn-primary">Done</button>

        </div>
      </div>




</div>

{% endblock %}