{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>

<script>

</script>

<div class="welcome">
  <h1>Technique 1</h1>
</div>
<div class="colored-background">
  <div class="container">
    <br>
    <div class="card text-center">
      <div class="card-body">
        <h4 class="card-title">To quiz you on this technique we'll give you a paragraph and a timer,<br>
          if you can get <b>300</b> words per minute or more, you've mastered this skill!
        </h4>
        <a href="/quiz/technique1/1" class="btn btn-primary">I'm ready, let's start! </a> <br>
      </div>
      <div class="card-footer text-muted">
        <a href="/quiz" class="btn btn-outline-secondary">Back</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}