{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz-technique2.js') }}"></script>

<script>

</script>

<div class="welcome">
  <h1>Technique 2</h1>
</div>
<br>
<div class="container">
  <div class="card text-center">
    <div class="card-body">
      <h4 class="card-title">To quiz you on this technique we will show you a phrase - word by word - <br>
        in an increasing speed and test you on what you've seen.
      </h4>
      <button class="btn btn-outline-primary" id="start_quiz_techinque2">I'm ready, let's start! </button> <br>
    </div>
    <div class="card-footer text-muted">
      <a href="/quiz" class="btn btn-outline-secondary">Back</a>
    </div>
  </div>
</div>

{% endblock %}