{% extends "layout.html" %}

{% block content %}

<script>
  $("#nav-item-quiz").addClass("active");
</script>

<div class="welcome">
  <h1> Technique 1 & Technique 3 </h1>
</div>
<div class="colored-background">
  <div class="container">
    <br>

      <div class="card quiz2 text-center" >
        <div class="card-body">
          <h4 class="card-title">To quiz you on these techniques we'll give you a paragraph and a timer,<br>
            if you can get <b>300</b> words per minute or more, you've mastered this skill!
          </h4>
          <a href="/quiz/technique1/1" class="btn paragraph-btn quiz_start" >I'm ready, let's start!</a>

        
        </div>
        <div class="card-footer text-muted">
          <a href="/quiz" class="btn btn-outline-secondary">Back</a>
        </div>
      </div>
  </div>
</div>

{% endblock %}