{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz-technique1.js') }}"></script>

<script>
  let data = {{ data | tojson }};  
</script>

<div class="welcome">
  <h3>Technique 1: Stop talking to yourself while reading </h3>
</div>
<div class="colored-background">
  <div class="container" id="quiz_div">
    <br><br>
    <div class="row">
      <div class="col-md-4">
        <button id="start_quiz" class="btn btn-success"> Start </button>
      </div>
      <div class="col-md-7"></div>
      <div id="timer_div col-md-1">
        <time id="timer">0:00:00.00</time>
      </div>
    </div>
    <br>
    <div class="card text-center">
      <div class="card-body">
        <p id="quiz-paragraph">{{data["paragraph"]}} </p>
      </div>
    </div>
    <br>
  </div>
</div>

{% endblock %}