{% extends "layout.html" %}

{% block content %}

  {#  <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>#}

  <script>

  </script>

  <div class="welcome">
    <h2> Practice the techniques to improve your speed reading skills</h2>
  </div>
  <br>
    <div class="container-fluid">
      <div class = row>
        <a href="/quiz/technique1/intro" class="btn btn-primary btn-block">Technique 1: Stop talking to yourself</a>
        </div>
        <br>
        <br>
        <div class = row>
          <a href="/quiz/technique2/intro" class="btn btn-primary btn-block">Technique 2: Cover words you've already read</a>
        </div>
      </div>
    </div>
  <br><br><br><br><br><br><br><br>

{% endblock %}