{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz-technique1.js') }}"></script>

<script>
  let quiz = {{ quiz | tojson }};

</script>
<div class="welcome">
  <h3 id="question">Technique 1 & Technique 3  - Quiz</h3>
</div>
<div class="container mt-sm-5 my-1">
  <div class="question ml-sm-5 pl-sm-5 pt-2">
    <div class="py-2 h5"><b>Q. {{quiz["question"]}} ?</b></div>
    {% for i in quiz["answers"] %}
    <label class="options">{{i[1]}} <input type="radio" id={{ i[0] }} name="answers"> <span class="checkmark"></span>
    </label><br>
    {% endfor %}
    <span class="warning"></span>
  </div>
  <div class="d-flex align-items-center pt-3">
    <div class="ml-auto mr-sm-5"> <button id="done_button" class="btn paragraph-btn quiz_done">Done</button></div>

  </div>
</div>
{% endblock %}