{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz-technique1.js') }}"></script>

<script>
  let grade = {{ grade | tojson }};
  console.log(grade)
  let next = {{ next | tojson }};
  let current_speed = {{ current_speed | tojson }}; 
  let reading_level = {{ reading_level | tojson }};
</script>

<div class="welcome">
</div>
<div class="colored-background">
  <div class="container">
    {% if grade == "1" %}
    <div class="card border-0">
      <div class="card-body text-center feedback">
        <img id="well_done_icon" src="../../static/data/well-done.png">
        <br>
        <h4>Your answer is correct !</h4>
        <h6>Your current speed is {{ current_speed }} wpm. Your reading profile is: <b>{{ reading_level }} </b></h6>
        <br>
        <div><button id="next_round" class="btn nextRoundBtn"> Next round </button></div>
        <br>
      </div>
    </div>
    {% elif grade == "0" %}
    <div class="card border-0">
      <div class="card-body text-center feedback">
        <img id="wrong_icon" src="../../static/data/wrong.png">
        <br>
        <h4>Your answer is not correct</h4>
        <h6>Your current speed is {{ current_speed }} wpm. Your reading profile is: <b>{{ reading_level }} </b></h6>
        <br>
        <div><button id="next_round" class="btn nextRoundBtn"> Next round </button></div>
        <br>
      </div>
    </div>
    {% else %}
    <p>error</p>
    {% endif %}


  </div>
</div>

{% endblock %}