{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz-technique2.js') }}"></script>

<script>
  let grade = {{ grade | tojson }};
  let next_quiz_id = {{ next_quiz_id | tojson }};
  let fade_time = {{ fade_time | tojson }};
</script>

<div class="welcome">

</div>
<div class="colored-background">
  <div class="container">
    {% if grade == "1" %}
    <div class="card-body text-center feedback">
      <img id="well_done_icon" src="../../static/data/well-done.png">
      <br>
      <h4>Your answer is correct !</h4>
      <h6>Your current speed is {{ fade_time/100 }} seconds per word.
      </h6>
      <br>
      {% if next_quiz_id != "e" %}
      <div><a href="/quiz/technique2/{{ next_quiz_id }} " class="btn nextRoundBtn"> Next round </a></div>
      {% endif %}
      <br>
    </div>

    {% elif grade == "0" %}
    <h4>
      <div class="card-body text-center feedback">
        <img id="wrong_icon" src="../../static/data/wrong.png">
        <br>
        <h4> Your answer is not correct.</h4>
        <h6> However, Your current speed is {{ fade_time/100 }} seconds per word.
        </h6>
        <br>
        {% if next_quiz_id != "e" %}
        <div><a href="/quiz/technique2/{{ next_quiz_id }} " class="btn nextRoundBtn"> Next round </a></div>
        {% endif %}
        <br>
      </div>
      {% else %}
      <p>error</p>
      {% endif %}
  </div>
</div>

{% endblock %}