{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz-technique1.js') }}"></script>

<script>
  let quiz = {{ quiz | tojson }};
  let current_speed = {{ current_speed | tojson }};

</script>
<div class="welcome">
  <h3 id="question">Technique 1 - Quiz</h3>
</div>
<div class="container mt-sm-5 my-1">
  <div class="question ml-sm-5 pl-sm-5 pt-2">
    <div class="py-2 h5"><b>Q. {{quiz["question"]}} ?</b></div>
    <!-- <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options"> -->
      {% for i in quiz["answers"] %}
      <label class="options">{{i}} <input type="radio" id={{ loop.index }} name="answers"> <span
          class="checkmark"></span> </label><br>

    <!-- </div> -->
    {% endfor %}
  </div>
  <div class="d-flex align-items-center pt-3">
    <div class="ml-auto mr-sm-5"> <button id="done_button" class="btn btn-primary">Done</button></div>
    <!-- <div id="prev"> <button class="btn btn-primary">Previous</button> </div>
    <div class="ml-auto mr-sm-5"> <button class="btn btn-success">Next</button> </div> -->
  </div>
</div>
{% endblock %}