html, body {
  height: 100%;
  margin: 0;
}

/*.colored-background {*/
/*  background: #D2EFE4;*/
/*  padding-bottom: 55px;*/
/*}*/

.lightgray-background {
  background: #f8f9fa;
}

.welcome {
  padding: 50px;
  text-align: center;
  background: #36454F;
  color: white;
}

#play-pause-button{
  font-size: 50px;
  cursor: pointer;
}
#quiz-paragraph{
  font-size: 25px;
  align-items: center;
  color: gray;
}
#quiz2_text{
  font-size: 50px;

}
