html, body {
  height: 100%;
  margin: 0;
}

/*.colored-background {*/
/*  background: #D2EFE4;*/
/*  padding-bottom: 55px;*/
/*}*/

.lightgray-background {
  background: #f8f9fa;
}

.welcome {
  padding: 50px;
  text-align: center;
  background: #36454F;
  color: white;
}

#play-pause-button{
  font-size: 50px;
  cursor: pointer;
}

.paragraph{
  border: 5px solid #36454F;
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 10px;
}

.section{
  border: 5px solid #36454F;
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 10px;
}

.center {
  position:relative;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modalbtn{
  color:red;
  border: none;
  background-color: white;
}

.modalbtn:hover{
  color:red;
  border: none;
  background-color: none;
  text-decoration: underline;
}

.modal-open .modal,.modalbtn:focus{
  outline:none!important
}