{% extends "layout.html" %}

{% block content %}

  <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>

  <script>
    {#let data = {{data|tojson}};#}
  </script>

  <div class="welcome">
    <h1>Welcome to Speedy</h1>
    <h2>Learn techniques to increasing your reading speed</h2>
  </div>
  <br><br><br>
  <div class="colored-background">
    <div class="container">
      <a href="/learn" class="btn btn-primary section">Start Learning</a>
    </div>
  </div>
  <br><br><br><br><br><br><br><br>

{% endblock %}