{% extends "layout.html" %}

{% block content %}

  {#  <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>#}

  <script>
    let data = {{data|tojson}};
    console.log('data:', data);
  </script>

  <div class="welcome">
    <h1>Click on the technique you want to learn.</h1>
  </div>
  <br>
    <div class="container-fluid">
      <div>
        <a href="/learn/technique1/level" class="btn btn-primary btn-block">Technique 1: Stop talking to yourself</a>

        <!-- Button trigger modal -->
        <button type="button" class="modalbtn" data-toggle="modal" data-target="#why-this-tech-1">
          Why this technique?
        </button>
      </div>
      <br><br>
      <div>
        <a href="/learn/technique2/level" class="btn btn-primary btn-block">Technique 2: Cover words you've already read</a>
        <!-- Button trigger modal -->
        <button type="button" class="modalbtn" data-toggle="modal" data-target="#why-this-tech-2">
          Why this technique?
        </button>
      </div>
      <br><br>
      <div>
        <a href="/learn/technique3/level" class="btn btn-primary btn-block">Technique 3: Improve Reading Speed With Finger Reading</a>
        <!-- Button trigger modal -->
        <button type="button" class="modalbtn" data-toggle="modal" data-target="#why-this-tech-3">
          Why this technique?
        </button>
      </div>
  </div>
  <br><br><br><br><br><br><br><br>

  <!-- Modal -->
  <div class="modal fade" id="why-this-tech-1" tabindex="-1" role="dialog" aria-labelledby="why-this-tech-1-label"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="why-this-tech-1-label">Why Stop talking to yourself while reading?</h5>
        </div>
        <div class="modal-body">
          {{ data.why_this_tech_1 }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="why-this-tech-2" tabindex="-1" role="dialog" aria-labelledby="why-this-tech-2-label"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="why-this-tech-2-label">Why Cover words you've already read?</h5>
        </div>
        <div class="modal-body">
          {{ data.why_this_tech_2 }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
    </div>
  
    <!-- Modal -->
  <div class="modal fade" id="why-this-tech-3" tabindex="-1" role="dialog" aria-labelledby="why-this-tech-3-label"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="why-this-tech-3-label">Why read with your mouse?</h5>
        </div>
        <div class="modal-body">
          {{ data.why_this_tech_3 }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
    </div>

{% endblock %}