{% extends "layout.html" %}

{% block content %}

  <script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>

  <script>
    let data = {{data|tojson}};
    console.log('data:', data);
  </script>

  <div class="welcome">
    <h1>Click on the technique you want to learn</h1>
  </div>
  <br>
  <div class="container-fluid">
    <div class="row data-rows">
      <div class='col-4 poster-col'>
        <div class='card custom-shadow'>
          <a href="/learn/technique1/level" class="poster-link">
            <img src="/static/data/shush.png" class="poster" alt="Technique 1">
          </a>
          <div class='caption-row'>Technique 1<br>Stop talking to yourself</div>
        </div>
        <br>

        <!-- Button trigger modal -->
        <button type="button" class="modalbtn" data-toggle="modal" data-target="#why-this-tech-1">
          Why this technique?
        </button>
      </div>

      <div class='col-4 poster-col'>
        <div class='card custom-shadow'>
          <a href="/learn/technique2/level" class="poster-link">
            <img src="/static/data/redaction.png" class="poster" alt="Technique 2">
          </a>
          <div class='caption-row'>Technique 2<br>Cover words you've already read</div>
        </div>
        <br>

        <!-- Button trigger modal -->
        <button type="button" class="modalbtn" data-toggle="modal" data-target="#why-this-tech-2">
          Why this technique?
        </button>
      </div>

      <div class='col-4 poster-col'>
        <div class='card custom-shadow'>
          <a href="/learn/technique3/level" class="poster-link">
            <img src="/static/data/finger.jpg" class="poster" alt="Technique 3">
          </a>
          <div class='caption-row'>Technique 3<br>Finger reading</div>
        </div>
        <br>

        <!-- Button trigger modal -->
        <button type="button" class="modalbtn" data-toggle="modal" data-target="#why-this-tech-3">
          Why this technique?
        </button>
      </div>

    </div>
  </div>
  <br><br><br><br><br><br><br><br>

  <!-- Modal -->
  <div class="modal fade" id="why-this-tech-1" tabindex="-1" role="dialog" aria-labelledby="why-this-tech-1-label"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="why-this-tech-1-label">Why Stop talking to yourself while reading?</h5>
        </div>
        <div class="modal-body">
          {{ data.why_this_tech_1 }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="why-this-tech-2" tabindex="-1" role="dialog" aria-labelledby="why-this-tech-2-label"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="why-this-tech-2-label">Why Cover words you've already read?</h5>
        </div>
        <div class="modal-body">
          {{ data.why_this_tech_2 }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="why-this-tech-3" tabindex="-1" role="dialog" aria-labelledby="why-this-tech-3-label"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="why-this-tech-3-label">Why read with your mouse?</h5>
        </div>
        <div class="modal-body">
          {{ data.why_this_tech_3 }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}