{% extends "layout.html" %}

{% block content %}

  <script type="text/javascript" src="{{ url_for('static', filename = 'technique1.js') }}"></script>

  <script>
    let data = {{data|tojson}};
    let paragraph = {{paragraph|tojson}};
    let paragraph_idx = {{paragraph_idx|tojson}};
    let level = {{level|tojson}};

    {# log incoming data #}
    console.log('data:', data);
    console.log('paragraph:', paragraph);
    console.log('paragraph_idx:', paragraph_idx);
    console.log('level:', level);
  </script>

  <div class="welcome">
    <h1>Technique 1</h1>
    <h2>Play the video of white noise music before reading the paragraph</h2>
  </div>

  <div class="container-fluid">
    <div class=row>

      <div class=col-8>
        {{ paragraph }}
      </div>

      <div class="col">
        <!-- Button trigger modal -->
        <div class=row>
          <a href="/learn/technique1/level" class="btn btn-primary btn-block">Change Difficulty</a>
        </div>
        <br>

        <div class="row playbuttonbox">
          <div class="col-12">
            <div class="row d-flex align-items-center justify-content-center">
              Play White Noise
            </div>
            <div class="row">
              <audio src="{{ data.white_noise_file }}" type="audio/mp3" controls loop></audio>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="ml-auto">
            <button type="button" class="btn modalbtn" data-toggle="modal" data-target="#why-this-tech-1">
              Why this technique?
            </button>
          </div>
        </div>

        <div class="row playbuttonbox1">
          <div class="col-6 d-flex align-items-center justify-content-center">
            <time id="timer" class=timer>0:00:00.00</time>
          </div>
          <div class="col d-flex align-items-center justify-content-center">
            <button id="toggle" class="timerbtn">Start</button>
            <button id="clear" class="timerbtn">Clear</button>
          </div>
        </div>

        <br>
        <div class=row>
          <div class=col-6>
            <a href="/learn/technique1/{{ level }}/{{ paragraph_idx - 1 }}" class="btn btn-primary btn-block"
               id="prev-paragraph-btn">Previous Paragraph</a>
          </div>
          <div class=col-6>
            <a href="/learn/technique1/{{ level }}/{{ paragraph_idx + 1 }}" class="btn btn-primary btn-block"
               id="next-paragraph-btn">Next Paragraph</a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br>

  <!-- Modal -->
  <div class="modal fade" id="why-this-tech-1" tabindex="-1" role="dialog" aria-labelledby="why-this-tech-1-label"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="why-this-tech-1-label">Why Stop talking to yourself while reading?</h5>
        </div>
        <div class="modal-body">
          {{ data.why_this_tech_1 }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}