{% extends "layout.html" %}

{% block content %}

{#  <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>#}

  <script>
    {#let data = {{data|tojson}};#}
  </script>

  <div class="welcome">
    <h1>Technique 2</h1>
    <h2>Click on the start button to start reading</h2>
  </div>
  <br>
  <div class="paragraph">
  </div>
  <br>
  <div class="colored-background">
    <div class="container paragraph">
      <a href="/learn/technique2/0" class="btn btn-outline-secondary">0.15s</a>
      <a href="/learn/technique2/1" class="btn btn-outline-secondary">0.25s</a>
      <a href="/learn/technique2/2" class="btn btn-outline-secondary">0.5s</a>
      <a href="/learn" class="btn btn-outline-secondary">Back to choosing technique</a>
    </div>
  </div>
  <br><br><br><br><br><br><br><br>

{% endblock %}