{% extends "layout.html" %}

{% block content %}

{#  <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>#}

  <script>
    {#let data = {{data|tojson}};#}
  </script>

  <div class="welcome">
    <h1>Technique 1</h1>
    <h2>Please choose your level</h2>
  </div>
    <div class="container-fluid">
      <a href="/learn/technique1/beginner/0" class="btn btn-outline-secondary">Beginner</a>
      <a href="/learn/technique1/intermediate/0" class="btn btn-outline-secondary">Intermediate</a>
      <a href="/learn/technique1/advanced/0" class="btn btn-outline-secondary">Advanced</a>
      <a href="/learn" class="btn btn-outline-secondary">Back to choosing technique</a>
    </div>
  <br><br><br><br><br><br><br><br>

{% endblock %}