{% extends "layout.html" %}

{% block content %}

{#  <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>#}

  <script>
    {#let data = {{data|tojson}};#}
  </script>

  <div class="welcome">
    <h1>Technique 3</h1>
    <h2>Click on the PARAGRAPH to start reading</h2>
  </div>
  <br>
  <br>
  <div class="colored-background">
    <div class="container technique">
      <a href="/learn/technique3/0" class="btn largebtn">Paragraph 1</a>
      <a href="/learn/technique3/1" class="btn largebtn">Paragraph 2</a>
      <br><br>
      <a href="/learn" class="btn btn-secondary">Back to choosing technique</a>
      <br>
    </div>
  </div>
  <br><br><br><br><br><br><br><br>

{% endblock %}