{% extends "layout.html" %}

{% block content %}

  <script type="text/javascript" src="{{ url_for('static', filename = 'technique2.js') }}"></script>

  <script>
    let data = {{data|tojson}};
    let reading = {{reading|tojson}};

    {# log incoming data #}
    console.log('data:', data);
    console.log('reading:', reading);

  </script>

  <div class="welcome">
    <h1>Technique 2</h1>
    <h2>Click on the SPEED button to start reading</h2>
  </div>

    <div class="container-fluid">


      <br><br>
      <div class = "row rcenter">
        
        <div class="container technique">

        <!-- The text of reading-->
          <p id="text"></p>
            
          <button href="/learn/technique2/0" id = "myBtn1" class="btn largebtn">0.15s</button>
          <button href="/learn/technique2/1" id = "myBtn2" class="btn largebtn">0.25s</button>
          <button href="/learn/technique2/2" id = "myBtn3" class="btn largebtn">0.5s</button>

        </div> 

        <div class = "row d-flex ">
          <div class="technique">
            <button type="button" class="modalbtn" data-toggle="modal" data-target="#why-this-tech-2">
              Why this technique?
            </button>
          </div>
            <!-- Button trigger modal -->
            <br><br>
            <div class="technique">
              <a href="/learn" class="btn btn-outline-secondary">Choose another technique</a>
            </div>
        </div>
      </div>


    </div>
      <br><br><br><br><br><br><br><br>

  <!-- Modal -->
  <div class="modal fade" id="why-this-tech-2" tabindex="-1" role="dialog"  aria-labelledby="why-this-tech-2-label"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="why-this-tech-2-label">Why Cover words you've already read?</h5>
        </div>
        <div class="modal-body">
          {{ data.why_this_tech_2 }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



{% endblock %}