{% extends "layout.html" %}

{% block content %}

  <script type="text/javascript" src="{{ url_for('static', filename = 'technique2.js') }}"></script>

  <script>
    let data = {{data|tojson}};
    let paragraph = {{reading|tojson}};

    {# log incoming data #}
    console.log('data:', data);
    console.log('paragraph:', reading);

  </script>

  <div class="welcome">
    <h1>Technique 2</h1>
    <h2>Click on the start button to start reading</h2>
  </div>

    <div class="container-fluid">
      <div class = "row rcenter">
        <div class="paragraph">
          <p id="text"></p>
        </div>
      </div>
      <br>
      <div class ="row rcenter">
        <a href="/learn/technique2/level" class="btn orangebtn">Choose New Level</a>
      </div>
      <br><br>
      <div class = "row rcenter">
        <div class="container paragraph">
          <button href="/learn/technique2/0" id = "myBtn1" class="btn btn-outline-secondary">0.15s</button>
          <button href="/learn/technique2/1" id = "myBtn2" class="btn btn-outline-secondary">0.25s</button>
          <button href="/learn/technique2/2" id = "myBtn3" class="btn btn-outline-secondary">0.5s</button>
          <!-- Button trigger modal -->
          <a href="/learn" class="btn btn-outline-secondary">Back to choosing technique</a>
        </div>
      </div>
      <div class = "row d-flex">
        <div class="ml-auto">
          <button type="button" class="modalbtn" data-toggle="modal" data-target="#why-this-tech-2">
            Why this technique?
          </button>
        </div>
      </div>
  <br><br><br><br><br><br><br><br>

  <!-- Modal -->
  <div class="modal fade" id="why-this-tech-2" tabindex="-1" role="dialog"  aria-labelledby="why-this-tech-2-label"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="why-this-tech-2-label">Why Cover words you've already read?</h5>
        </div>
        <div class="modal-body">
          {{ data.why_this_tech_2 }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}