{% extends "layout.html" %}

{% block content %}

  <script type="text/javascript" src="{{ url_for('static', filename = 'technique3.js') }}"></script>

  <script>
    let data = {{data|tojson}};
    let paragraph = {{reading|tojson}};

    {# log incoming data #}
    console.log('data:', data);
    console.log('paragraph:', reading);

  </script>

  <div class="welcome">
    <h1>Technique 3</h1>
    <h2>Click on the PARAGRAPH to start reading</h2>
  </div>

    <div class="container-fluid">
      <div class = "row rcenter">
          <textarea readonly id="texto" rows="10" cols="100"> 
            1.Pick the paragraph you want to read
            2.Click on the paragraph and move you mouse to mock the finger reading.
          </textarea>
          <br>
          <span id="result"></span>
      </div>

      <br><br>
      <div class = "row rcenter">
        <div class="container paragraph">
          <button href="/learn/technique3/0" id = "myBtn1" class="btn btn-primary">Paragraph 1</button>
          <button href="/learn/technique3/1" id = "myBtn2" class="btn btn-primary">Paragraph 2</button>
          <!-- Button trigger modal -->
          <a href="/learn" class="btn btn-secondary">Back to choosing technique</a>
        </div>
        
      </div>
      <div class = "row d-flex ">
        <div class="technique">
          <div class ="row rcenter">
            <a href="/learn/technique3/level" class="btn orangebtn">Choose New Paragraph</a>
          </div>
          <button type="button" class="modalbtn" data-toggle="modal" data-target="#why-this-tech-3">
            Why this technique?
          </button>
        </div>
      </div>
  <br><br><br><br><br><br><br><br>

  <!-- Modal -->
  <div class="modal fade" id="why-this-tech-3" tabindex="-1" role="dialog"  aria-labelledby="why-this-tech-3-label"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="why-this-tech-3-label">Why read with your mouse?</h5>
        </div>
        <div class="modal-body">
          {{ data.why_this_tech_3 }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}