{% extends "layout.html" %}

{% block content %}

  <script type="text/javascript" src="{{ url_for('static', filename = 'technique1.js') }}"></script>

  <script>
    let data = {{data|tojson}};
    let paragraph = {{paragraph|tojson}};
    let paragraph_idx = {{paragraph_idx|tojson}};
    let level = {{level|tojson}};
    let next_level = {{ next_level|tojson }};

    {# log incoming data #}
    console.log('data:', data);
    console.log('paragraph:', paragraph);
    console.log('paragraph_idx:', paragraph_idx);
    console.log('level:', level);
  </script>

  <div class="welcome">
    <h1>Technique 1 - {{ level }} level</h1>
    <h2>Play the video of white noise music before reading the paragraph</h2>
  </div>

  <div class="container-fluid">
    <div class=row>

      <div class=col-8>
        {{ paragraph }}
      </div>

      <div class="col-4">
        <!-- Button trigger modal -->
        <div class=row>
          <a href="/learn/technique1/level" class="btn btn-primary btn-block">Change Difficulty</a>
        </div>
        <br>
        <div class="row">
          <a href="/" class="btn btn-primary btn-block">Back to Homepage</a>
        </div>
        <br>

        <div class="row">
          &nbsp &nbsp White noise starts with stopwatch.
        </div>

        <div class="row playbuttonbox1">
          <div class="col-6 d-flex rcenter">
            <time id="timer" class=timer>0:00:00.00</time>
          </div>
          <div class="col d-flex rcenter">
            <button id="toggle" class="orangebtn">Start</button>
            <button id="clear" class="orangebtn">Clear</button>
          </div>
        </div>


        <div class="row">
          <div class="ml-auto">
            <button type="button" class="btn modalbtn" data-toggle="modal" data-target="#why-this-tech-1">
              Why this technique?
            </button>
          </div>
        </div>

        <div class="row">
          <div class=col-6>
            <a href="/learn/technique1/{{ level }}/{{ paragraph_idx - 1 }}" class="btn btn-primary btn-block"
               id="prev-paragraph-btn">Previous Paragraph</a>
          </div>
          <div class=col-6>
            <a href="/learn/technique1/{{ level }}/{{ paragraph_idx + 1 }}" class="btn btn-primary btn-block"
               id="next-paragraph-btn">Next Paragraph</a>
          </div>
        </div>
        <br>
        <div class=row>
          <div class=col-12>
            <a href="/learn/technique1/{{ next_level }}/0" class="btn btn-primary btn-block"
               id="next-level-btn">Next Level</a>
          </div>
        </div>

      </div>
    </div>
    <br><br><br><br><br><br><br><br>

    <!-- Modal -->
    <div class="modal fade" id="why-this-tech-1" tabindex="-1" role="dialog" aria-labelledby="why-this-tech-1-label"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="why-this-tech-1-label">Why Stop talking to yourself while reading?</h5>
          </div>
          <div class="modal-body">
            {{ data.why_this_tech_1 }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}