{% extends "layout.html" %}

{% block content %}

  <script type="text/javascript" src="{{ url_for('static', filename = 'technique1.js') }}"></script>

  <script>
    let data = {{data|tojson}};
    let paragraph = {{paragraph|tojson}};
    let paragraph_idx = {{paragraph_idx|tojson}};
    let level = {{level|tojson}};
    let next_level = {{ next_level|tojson }};

    {# log incoming data #}
    console.log('data:', data);
    console.log('paragraph:', paragraph);
    console.log('paragraph_idx:', paragraph_idx);
    console.log('level:', level);
  </script>

  <div class="welcome">
    <h1>Technique 1 - {{ level }} level</h1>
    <h2>Play the white noise before reading the paragraph</h2>
  </div>

  <div class="container-fluid">
    <div class=row>

      <div class="col-7 tech1-paragraph">
        {{ paragraph }}
      </div>

      <div class="col-5">
        <!-- Button trigger modal -->
        <div class="row d-flex rcenter">
          <div class="pl-3 pr-4">
            <a href="/learn/technique1/level" class="btn btn-outline-secondary">
              <i class="fa fa-tachometer" aria-hidden="true"></i> Change Difficulty
            </a>
          </div>
          <div class="pl-4 pr-3">
            <a href="/" class="btn btn-outline-secondary">
              <i class="fa fa-home" aria-hidden="true"></i> Back to Home
            </a>
          </div>
        </div>
        <br>

        <div class="row d-flex">
          <div class="pl-3">White noise starts with stopwatch.</div>
        </div>

        <div class="row playbuttonbox">

          <div class="col-6 d-flex pl-3">
            <time id="timer" class="timer">0:00:00.00</time>
          </div>
          <div class="col-6 d-flex rcenter">
            <div class="pr-2">
            <button id="toggle" class="custom-btn btn-13">Start</button>
              </div>
            <div class="pl-2">
            <button id="clear" class="custom-btn btn-13">Reset</button>
              </div>
          </div>
        </div>

        <div class="row d-flex justify-content-end">
          <div>
            <button type="button" class="btn modalbtn" data-toggle="modal" data-target="#why-this-tech-1">
              Why this technique?
            </button>
          </div>
        </div>

        <br><br><br><br><br><br><br><br>

        <div class="row">
          <div class=col-6>
            <a href="/learn/technique1/{{ level }}/{{ paragraph_idx - 1 }}" class="btn paragraph-btn"
               id="prev-paragraph-btn"><i class="fa fa-arrow-left" aria-hidden="true"></i> Previous Paragraph</a>
          </div>
          <div class=col-6>
            <a href="/learn/technique1/{{ level }}/{{ paragraph_idx + 1 }}" class="btn paragraph-btn"
               id="next-paragraph-btn">Next Paragraph <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
        <br>
        <div class=row>
          <div class=col-12>
            <a href="/learn/technique1/{{ next_level }}/0" class="btn paragraph-btn btn-block" id="next-level-btn">
              Next Level <i class="fa fa-arrow-right" aria-hidden="true"></i><i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>

      </div>
    </div>
    <br><br><br><br><br><br><br><br>

    <!-- Modal -->
    <div class="modal fade" id="why-this-tech-1" tabindex="-1" role="dialog" aria-labelledby="why-this-tech-1-label"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="why-this-tech-1-label">Why Stop talking to yourself while reading?</h5>
          </div>
          <div class="modal-body">
            {{ data.why_this_tech_1 }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}